.container {
    width: 768px;
    position: relative;
   float: left;

}
.box{
    
    width: 100px;
    height: 100px;
    margin: 5%;
    position: relative;
    float: left;
}
.red
{
    background: red;
}
.blue {
    background: blue;
}

@media (min-width: 768px){
    .box .red{
        position: relative;
        float: left;
    }
   

    
        
       
   
    }