h1
{font-size: 32px;
font-weight: bold;}
h2
{font-size: 24px;
font-style: italic;}
p
{font-size: 14px;
font-style: normal;}
.green
{color: rgb(30, 255, 0);
}
.blue
{ color: rgb(19, 82, 177);}

.clp
{font-family: Arial, Helvetica, sans-serif;

}
.clh2 {
    font-size: 20pt; color: red; background: white;
}
.clnote
{
    color: red; background-color: yellow; font-weight: bold;
}
.clparagr
{
    padding-left: 10px;
}














