h1
{font-size: 32px;
font-weight: bold;}
h2
{font-size: 24px;
font-style: italic;}
p
{font-size: 14px;
font-style: normal;}
.green
{color: rgb(30, 255, 0);
}
.blue
{ color: rgb(19, 82, 177);}

.yellow
{
    color: rgb(253, 250, 31);
}

.aque
{color: aqua;

}
.orange
{
    color: sienna;
}

.px

{color: springgreen;}

pre
{
    background-color: black;
}
.white
{color: white;}



















