<<<<<<< HEAD

.out{
    width: 400px;
    height: 400px;
    background: chocolate;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
}
.in{
    width: 100px;
    height: 100px;
    background: greenyellow;
    position: absolute;   
    font-size: 30px;
    color: #000;
    text-align: center;
    line-height: 100px;
}
.in1{
    top: 0px;
    left: 0px;
}
.in2{
    top: 0px;
    left: 300px;
}

.in3{
    bottom: 0px;
    right: px;
}
.in4{
    bottom: 0px;
    left: 300px;
}
=======
.out {
    width: 400px;
    height: 400px;
    background: cadetblue;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    position: fixed;}
    .in1 {width: 100px;
        height: 100px;
        background: rgb(224, 153, 153);
        top: calc(50% - 200px);
        left: calc(50% - 200px);
        position: fixed; color: black; text-align: center; line-height: 100px;
    }
    .in2 {width: 100px;
        height: 100px;
        background: rgb(224, 153, 153);
        top: calc(50% - 200px);
        left: calc(50% + 100px);
        position: fixed; color: black; text-align: center; line-height: 100px
    }
    .in3 {width: 100px;
        height: 100px;
        background: rgb(224, 153, 153);
        bottom: calc(50% - 200px);
        left: calc(50% + 100px);
        position: fixed; color: black; text-align: center; line-height: 100px
    }
    .in4 {width: 100px;
        height: 100px;
        background: rgb(224, 153, 153);
        bottom: calc(50% - 200px);
        left: calc(50% - 200px);
        position: fixed; color: black; text-align: center; line-height: 100px
    }
>>>>>>> aa5a4d1c44d7ba52030b3728a5964a76dbf1e9b1
